version: '3.3'
services:
    postfix:
      image: "registry.mgrote.net/postfix:master@sha256:d31c6611fe551549e03a5916d6b02e16beb7eaad2740af002e9aed134c0ca6a3"
      container_name: mail-relay
      restart: always
      labels:
        com.centurylinklabs.watchtower.enable: true
      ports:
          - 1025:25
      environment:
        SMTP_SERVER: smtp.strato.de
        SMTP_USERNAME: info@mgrote.net
        SMTP_PASSWORD: "{{ lookup('keepass', 'strato_smtp_password', 'password') }}"
        SERVER_HOSTNAME: mgrote.net
        # DEBUG: "yes" # literal
        ALWAYS_ADD_MISSING_HEADERS: "no" # literal
        # LOG_SUBJECT: "yes" # literal
        INET_PROTOCOL: ipv4
        SMTP_GENERIC_MAP: "/.*/ info@mgrote.net"
      networks:
        - mail-relay

######## Networks ########
networks:
  mail-relay:
    external: true
