version: '3.3'
services:
    postfix:
      image: "registry.mgrote.net/postfix:master@sha256:8e0b6d883b483783b77430fab37d55f69237f5e2d0b28bd956b43a7f18022ac6"
      container_name: mail-relay
      restart: always
      labels:
        com.centurylinklabs.watchtower.enable: true
      ports:
          - 1025:25
      environment:
        SMTP_SERVER: smtp.strato.de
        SMTP_USERNAME: info@mgrote.net
        SMTP_PASSWORD: "{{ lookup('keepass', 'strato_smtp_password', 'password') }}"
        SERVER_HOSTNAME: mgrote.net
        # DEBUG: "yes" # literal
        ALWAYS_ADD_MISSING_HEADERS: "no" # literal
        # LOG_SUBJECT: "yes" # literal
        INET_PROTOCOL: ipv4
        SMTP_GENERIC_MAP: "/.*/ info@mgrote.net"
      networks:
        - mail-relay

######## Networks ########
networks:
  mail-relay:
    external: true
