[submodule "roles/gantsign.ctop"]
	path = roles/gantsign.ctop
	url = https://github.com/gantsign/ansible_role_ctop
[submodule "roles/geerlingguy.ansible"]
	path = roles/geerlingguy.ansible
	url = https://github.com/geerlingguy/ansible-role-ansible
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/geerlingguy.dotfiles"]
	path = roles/geerlingguy.dotfiles
	url = https://github.com/geerlingguy/dotfiles
