[submodule "roles/gantsign.ctop"]
	path = roles/gantsign.ctop
	url = https://github.com/gantsign/ansible_role_ctop
[submodule "roles/geerlingguy.ansible"]
	path = roles/geerlingguy.ansible
	url = https://github.com/geerlingguy/ansible-role-ansible
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/geerlingguy.pip"]
	path = roles/geerlingguy.pip
	url = https://github.com/geerlingguy/ansible-role-pip
[submodule "roles/oefenweb.ufw"]
	path = roles/oefenweb.ufw
	url = https://github.com/Oefenweb/ansible-ufw
[submodule "roles/robertdebock.bootstrap"]
	path = roles/robertdebock.bootstrap
	url = https://github.com/robertdebock/ansible-role-bootstrap
[submodule "roles/ryandaniels.create_users"]
	path = roles/ryandaniels.create_users
	url = https://github.com/ryandaniels/ansible-role-create-users
[submodule "roles/geerlingguy.dotfiles"]
	path = roles/geerlingguy.dotfiles
	url = https://git.mgrote.net/mg/geerlingguy-dotfiles
[submodule "roles/geerlingguy.gitlab"]
	path = roles/geerlingguy.gitlab
	url = https://github.com/geerlingguy/ansible-role-gitlab
[submodule "roles/riemers.gitlab-runner"]
	path = roles/riemers.gitlab-runner
	url = https://github.com/riemers/ansible-gitlab-runner
