[defaults]
inventory = ~/ansible/inventories
nocows = 1
retry_files_enabled = False
roles_path = ~/ansible/roles
vault_password_file = ~/ansible/vault-pass.yml
strategy_plugins = /usr/local/lib/python3.6/dist-packages/mitogen-stable/ansible_mitogen/plugins/strategy

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
