[defaults]
inventory             = ./inventory
nocows                = 1
retry_files_enabled   = False
roles_path            = ./roles
lookup_plugins        = ./plugins/lookup
collections_paths     = ./collections
private_key_file      = ./id_ed25519
vault_password_file   = vault-pass.yml
gathering             = smart
[diff]
always = true
