[defaults]
inventory             = ./inventory
nocows                = 1
retry_files_enabled   = False
roles_path            = ./roles
lookup_plugins        = ./plugins/lookup
collections_paths     = ./ansible_collections
private_key_file      = ./id_rsa_ansible_user
#vault_password_file   = ./vault-pass.yml
[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
