{% if pbs_prune_jobs is defined %}
{% for item in pbs_prune_jobs %}

prune: {{ item.name }}
       keep-daily {{ item.keep_daily }}
       keep-hourly {{ item.keep_hourly }}
       keep-last {{ item.keep_last }}
       ns
       schedule {{ item.schedule }}
       store {{ item.store }}

{% endfor %}
{% endif %}

{# das leerzeichen hinter ns ist wichtig, sonst kann pbs die Datei nicht parsen #}
