{{ file_header | default () }}
[Unit]
Description=Set the fan threshold on Supermicro X9/10/11 Mainboards.
After=multi-user.target

[Service]
Type=oneshot
# Setze auf "Fan Mode: Standard"
ExecStart=/usr/bin/ipmitool raw 0x30 0x45 0x01
# Setze Grenzwerte Zone "Case"
ExecStart=/usr/bin/ipmitool sensor thresh "FAN1" lower 100 200 300
ExecStart=/usr/bin/ipmitool sensor thresh "FAN2" lower 100 200 300
ExecStart=/usr/bin/ipmitool sensor thresh "FAN3" lower 100 200 300
ExecStart=/usr/bin/ipmitool sensor thresh "FAN4" lower 100 200 300
ExecStart=/usr/bin/ipmitool sensor thresh "FAN5" lower 100 200 300
# Setze Grenzwerte Zone "CPU"
ExecStart=/usr/bin/ipmitool sensor thresh "FANA" lower 100 200 300
