{{ file_header | default () }}
# Servers
{% for item in ntp_servers %}
server {{ item.address }} {{ item.options |default() }}
{% endfor %}

# Drift file
driftfile {{ ntp_driftfile_directory }}/drift
