{{ file_header | default () }}

[Unit]
Description=Send a Mail in case of an error in youtubedl.service.

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/systemctl status youtubedl.service | mail -s "[ERROR] youtubedl" {{ empfaenger_mail }}'
