{{ file_header | default () }}
[Unit]
Description=Backup with restic
Requires=media-restic.mount
After=media-restic.mount
OnFailure=restic_mail.service

[Service]
Type=simple
EnvironmentFile={{ restic_conf_dir }}/restic.env
ExecStart=/usr/bin/restic backup --one-file-system --no-cache --iexclude-file {{ restic_conf_dir }}/excludes {{ restic_folders_to_backup }}
{# -iexclude-file Same as exclude-file but ignores cases like in --iexclude; https://restic.readthedocs.io/en/latest/040_backup.html #}
User={{ restic_user }}
Group={{ restic_group }}
RestartSec={{ restic_failure_delay }}
