source:
  default: csv
  csv:
    file: /var/lib/oxidized/router.db
    delimiter: !ruby/regexp /:/
    map:
      name: 0
      ip: 1
      model: 2
      username: 3
      password: 4
    vars_map:
      enable: 5

# enable WebGUI
rest: 0.0.0.0:8888

# debug
# debug: true

output:
  default: git
  git:
    user: oxidized
    email: oxidized@grote.lan
    repo: "/var/lib/oxidized/devices.git"

hooks:
  push_to_remote:
    type: githubrepo
    events: [post_store]
    remote_repo: ssh://gitea@git.mgrote.net:2222/mg/oxidized-configs.git
    publickey: /ssh/id_rsa.pub
    privatekey: /ssh/id_rsa
