version: '3.3'
services:
  oxidized:
    restart: always
    container_name: "oxidized"
    image: oxidized/oxidized:latest # ist auf lokal gebautes Image gesetzt, nach https://github.com/ytti/oxidized/pull/2726 kann es wieder auf latest gesetzt werden
    ports:
      - 8888:8888/tcp
    environment:
      CONFIG_RELOAD_INTERVAL: 600
    volumes:
      - ./router.db:/home/oxidized/.config/oxidized/router.db
      - ./config:/home/oxidized/.config/oxidized/config
      - ./ssh:/ssh/
      - oxidized:/var/lib/oxidized
    labels:
      - com.centurylinklabs.watchtower.enable=false

######## Volumes ########
volumes:
  oxidized:

# auf git.mgrote.net ist "docker-oxidized" als user angelegt und die ssh-keys sind in seinem Nutzerprofil hinterlegt
# von Nutzer "mg" sind die beiden oxidized Repos an "docker-oxidized" geteilt

# ssh:
# die ssh-keys müsen im alten pem-format vorliegen
# https://github.com/ytti/oxidized/pull/2453/commits/a67a7204f65be8c564144e23012844fcff5444b5

# erstellen:
# 1. ssh-keygen (ohne alles)
# 2. ssh-keygen -p -m PEM -f <private_key>
# 3. chmod 0660 id_rsa*
# 4. Key in ansible-vault/KeePass hinterlegen

# hardware:
# oxidized besitzt jeweils einen user auf jedem Gerät mit der Policy "read-only"
