version: '3'
services:
######## traefik ########
  traefik:
    container_name: "traefik"
    image: traefik:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./file-provider.yml:/etc/traefik/file-provider.yml
      - acme_data:/etc/traefik/acme
    networks:
      - traefik
    ports:
      - "80:80" # HTTP
      - "8081:8080" # Web-GUI
      - "443:443" # HTTPS
      - "2222:2222" # SSH
    environment:
      TZ: Europe/Berlin
    labels:
      com.centurylinklabs.watchtower.enable: true
      # hier sind gemeinsame middlewares defniert und zu einer chain zusammengefasst
      # CAVE: die Reihenfolge innerhalb von Chains/von Middlewares ist wichtig
      # Aufbau: traefik.http.middlewares.<NAME>.chain.middlewares: middleware1,middleware2,middleware3
      # diese kann dann direkt eingebunden werden:
      # Beispiel: XXXXX
      # beim Einsatz von nforwardauth:
      # Beispiel: YYYYY

######## Networks ########
networks:
  traefik:
    external: true

######## Volumes ########
volumes:
  acme_data:
