version: "3"
services:
  watchtower:
    restart: always
    container_name: watchtower
    image: "containrrr/watchtower:1.7.1@sha256:6dd50763bbd632a83cb154d5451700530d1e44200b268a4e9488fefdfcf2b038"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      TZ: Europe/Berlin
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_INCLUDE_RESTARTING: true
      WATCHTOWER_INCLUDE_STOPPED: true
      WATCHTOWER_REVIVE_STOPPED: false
      WATCHTOWER_SCHEDULE: "0 20 3 * * *" # jeden Tag um 03:20
      WATCHTOWER_LABEL_ENABLE: true
      WATCHTOWER_NOTIFICATIONS: email
      WATCHTOWER_NOTIFICATION_EMAIL_FROM: info@mgrote.net
      WATCHTOWER_NOTIFICATION_EMAIL_TO: info@mgrote.net
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER: mail-relay # "container_name" des Relays
      # WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: 25 # nicht benötigt, nur als Referenz stehen gelassen
      # WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER: "" # nicht benötigt, nur als Referenz stehen gelassen
      # WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD: "" # nicht benötigt, nur als Referenz stehen gelassen
      WATCHTOWER_NOTIFICATION_EMAIL_DELAY: 2
      WATCHTOWER_NO_STARTUP_MESSAGE: true
    labels:
      com.centurylinklabs.watchtower.enable: true
    networks:
      - mail-relay # binde externe Netzwerk an Container

# monitore diesen Container nur
#   labels:
#     com.centurylinklabs.watchtower.monitor-only: true
# dieser container hängt von x ab
#     com.centurylinklabs.watchtower.depends-on: mf-db
# aktualisiere container
#     com.centurylinklabs.watchtower.enable: true

######## Networks ########
networks:
  mail-relay: # damit das mail-relaay im anderen Container erreicht werden kann
    external: true
