{{ file_header | default () }}

[Unit]
Description=Send a Mail in case of an error in sanoid.service.

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/systemctl status sanoid.service | mail -s "[ERROR] sanoid - %H" {{ my_mail }}'
