{{ file_header | default () }}
[Unit]
Description=Trigger VM-Snapshots in PVE with cv4pve.
After=multi-user.target
OnFailure=cv4pve_mail.service

[Service]
Type=simple
ExecStart=/usr/local/bin/cv4pve/cv4pve-autosnap --host=127.0.0.1 --api-token {{ cv4pve_api_user }}={{ cv4pve_api_token }} --vmid="{{ cv4pve_vmid }}" snap --label='daily' --keep="{{ cv4pve_keep_snapshots }}" --state
