{{ file_header | default () }}
## ZFS Section -------------------------------- ##
{% for item in sanoid_datasets %}
[{{ item.path }}]
  use_template = {{ item.template }}
  recursive    = {{ item.recursive }}
## -------------------------------------------- ##
{% endfor %}



## Template Section --------------------------- ##
{% for item in sanoid_templates %}
[template_{{ item.name }}]
  ## Keep-Rules
  hourly                = {{ item.keep_hourly }}
  daily                 = {{ item.keep_daily }}
  monthly               = {{ item.keep_monthly }}
  yearly                = {{ item.keep_yearly }}
  frequently            = {{ item.frequently }}
  ## Interval
  frequent_period       = {{ item.frequent_period }}
  ## Other Options
  autosnap              = {{ item.autosnap }}
  autoprune             = {{ item.autoprune }}
## -------------------------------------------- ##
{% endfor %}
