version: '3'
services:
  Keycloak:
    image: quay.io/keycloak/keycloak:22.0.5
    command: ['start']
    environment:
      KC_DB_PASSWORD: password
      KC_DB_URL_HOST: keycloak-db
      KC_DB_USERNAME: keycloak

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password

      KC_HOSTNAME: keycloak-app
    ports:
      - "8089:8080" # Externe-Portnummer:Interne-Portnummer
    depends_on:
      - keycloak-db
    container_name: keycloak-app
    networks:
      - intern
      - auth
      - traefik

  keycloak-db:
    image: "postgres:16.2"
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - db16:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "keycloak"]
      interval: 10s
      start_period: 30s
    networks:
      - intern

######## Volumes ########
volumes:
  db16:
######## Networks ########
networks:
  traefik:
    external: true
  auth:
    external: true
  intern:
# todo
# prufen ob dier uzielcontsainer alle netwzwerke rbaucht
# healtchecks
# verison gesetzt
