version: '3'
services:
  # here it works as expected
  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: always
    networks:
      - traefik
    labels:
      traefik.http.routers.whoami.rule: Host(`whoami.mgrote.net`)
      traefik.http.routers.whoami.middlewares: whoami-ipwhitelist

      traefik.http.middlewares.whoami-ipwhitelist.ipwhitelist.sourcerange: 192.168.2.0/24,10.25.25.0/24,192.168.48.0/24 # .48. ist Docker

      traefik.http.middlewares.whoami-ipwhitelist.ipwhitelist.ipstrategy.depth: 0 # https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/#ipstrategydepth
      traefik.enable: true
      traefik.http.routers.whoami.tls: true
      traefik.http.routers.whoami.tls.certresolver: resolver_letsencrypt
      traefik.http.routers.whoami.entrypoints: entry_https
      traefik.http.services.whoami.loadbalancer.server.port: 80

networks:
  traefik:
    external: true
