version: '3'
services:
######## homer ########
  homer:
    image: b4bz/homer:latest
    container_name: homer-dashboard
    restart: always
    environment:
      - TZ=Europe/Berlin
      - UID=1000
      - GID=1000
      - INIT_ASSETS=0
    volumes:
      - ./assets/:/www/assets
    ports:
      - 333:8080
