version: '3'
services:
  apt-cacher-ng:
    container_name: apt-cacher-ng
    restart: always
    image: registry.mgrote.net/apt-cacher-ng:master
    ports:
      - "9999:9999"
    volumes:
      - cache:/var/cache/apt-cacher-ng
    environment:
      USER: acng-admin
      PASS: {{ lookup('keepass', 'acng_webinterface', 'password') }}
      VERBOSE: 1 # 0/1
      THRESHOLD: 60 # package housekeeping threshold
    labels:
      - com.centurylinklabs.watchtower.enable=true

volumes:
  cache:
