---
  ### mgrote.zfs_manage_datasets
  # "Daten"-Datasets verwalte ich händisch!
  # zfs create -o encryption=aes-256-gcm -o keyformat=passphrase hdd_data_raidz/data_crypt
  # zfs create hdd_data_raidz/videos
  # Pools müssen vorher erstellt sein!
  # rpool
  #  zpool create -f -o ashift=12 rpool mirror /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi8 /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi10
  # HDD_DATA_RAIDZ
  # zpool create -f -o ashift=12 hdd_data_raidz raidz /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi9 /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi3 /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi4
  zfs_datasets: # DatenPools werden hier nicht verwaltet
    - dataset: rpool/vm
      state: present
      compression: lz4
      sync: disabled
      xattr: sa
      dnodesize: auto
      atime: on
      snapdir: hidden
    - dataset: rpool/vm/dir
      state: present
      compression: lz4
      sync: disabled
      xattr: sa
      dnodesize: auto
      atime: on
      snapdir: hidden
    - dataset: rpool/vm/zvol
      state: present
      compression: lz4
      sync: disabled
      xattr: sa
      dnodesize: auto
      atime: on
      snapdir: hidden
    - dataset: rpool/vm/qcow
      state: present
      compression: lz4
      sync: disabled
      xattr: sa
      dnodesize: auto
      atime: on
      snapdir: hidden

  ### mgrote.zfs_extra # Variablen für mgrote.zfs_health/trim/scrub/zed/arc_mem/ sind zusammengefasst unter zfs_extra_*
  zfs_extra_arc_max_size: "2147483648" # 2GB in Bytes
  zfs_extra_zfs_pools:
    - name: "rpool"
      cron_minutes_zfs_scrub: "5"
      cron_hour_zfs_scrub: "23"
      cron_day_of_month_zfs_scrub: "14"
      cron_day_of_week_zfs_scrub: "*"
      cron_month_zfs_scrub: "*/2"
    - name: "hdd_vm_mirror"
      cron_minutes_zfs_scrub: "10"
      cron_hour_zfs_scrub: "23"
      cron_day_of_month_zfs_scrub: "14"
      cron_day_of_week_zfs_scrub: "*"
      cron_month_zfs_scrub: "*/2"
