version: '3'
services:
  httpd-registry:
    container_name: "httpd-registry"
    image: "registry.mgrote.net/httpd:v1.1.32"
    restart: always
    volumes:
      - uploads:/usr/local/apache2/htdocs/
      - "{{ compose_dest_basedir }}/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro"
    ports:
      - 3344:80
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3

  python-api-server:
    container_name: httpd-api
    image: "registry.mgrote.net/python-api-server:v1.1.132"
    restart: always
    ports:
      - "5040:5000"
    volumes:
      - uploads:/uploads
    environment:
      # FLASK_DEBUG: 1 # for debugging
      # FLASK_APP: app # for debugging
      MAX_CONTENT_LENGTH: 500
      UPLOAD_DIRECTORY: /uploads
      AUTH_TOKEN: "{{ lookup('keepass', 'httpd-api-server-token', 'password') }}"
      ENABLE_WEBSERVER: false

volumes:
  uploads:
