version: '2.3'

services:
  statping:
    container_name: statping
    image: "registry.mgrote.net/statping-ng:v1.0.73"
    restart: always
    volumes:
      - statping_data:/app
    environment:
      DB_CONN: sqlite
      ALLOW_REPORT: false
      ADMIN_USER: statadmin
      ADMIN_PASSWORD: "{{ lookup('keepass', 'statping_admin_password', 'password') }}"
      SAMPLE_DATA: false
    ports:
      - 8083:8080
    networks:
      - mail-relay

volumes:
  statping_data:
networks:
  mail-relay:
    external: true
