version: '2.3'

services:
  statping:
    container_name: statping
    image: "registry.mgrote.net/statping-ng:latest@sha256:6b00a9ff1560b66be71dc5afb74afe3336987b0ef46aad821fab8849e70768e7"
    restart: always
    volumes:
      - statping_data:/app
    environment:
      DB_CONN: sqlite
      ALLOW_REPORT: false
      ADMIN_USER: statadmin
      ADMIN_PASSWORD: "{{ lookup('keepass', 'statping_admin_password', 'password') }}"
      SAMPLE_DATA: false
    ports:
      - 8083:8080
    networks:
      - mail-relay
    labels:
      com.centurylinklabs.watchtower.enable: true

volumes:
  statping_data:
networks:
  mail-relay:
    external: true
