---
version: "2.1"
services:
  unifi-controller:
    image: ghcr.io/linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
      - MEM_LIMIT=1024M #optional
      - MEM_STARTUP=1024M #optional
    volumes:
      - data:/config
    ports:
      - 3478:3478/udp #Unifi STUN port
      - 10001:10001/udp #Required for AP discovery
      - 8080:8080 #Required for device communication
      - 8443:8443 #Unifi web admin port
      - 1900:1900/udp #optional, Required for Make controller discoverable on L2 network option
      - 8843:8843 #optional, Unifi guest portal HTTPS redirect port
      - 8880:8880 #optional, Unifi guest portal HTTP redirect port
      - 6789:6789 #optional, For mobile throughput test
      - 5514:5514/udp #optional
    restart: always
    labels:
      - com.centurylinklabs.watchtower.enable="false"
######## Volumes ########
volumes:
  data:
